ul.main-menu
	li
		a(href="#")
			span Feed
			.image-holder
				img(src="img/icons/home-icon.svg", alt="")
	li
		a(href="#")
			span Ask a Colleague
			.image-holder
				img(src="img/icons/ask-icon.svg", alt="")
	li
		a(href="#")
			span Companies
			.image-holder.comp
				img(src="img/icons/bild-icon.svg", alt="")
	li
		a(href="#")
			span Service Directory
			.image-holder.serve
				img(src="img/icons/art-icon.svg", alt="")

