section.header
	.container
		.top-table
			.brand-holder
				a(href="#")
					.image-holder
						img(src="img/icons/logo.svg", alt="")
			.table
				.search-panel
					.search-holder
						a(href="#").search-btn
						input(type="text", placeholder="Company Name")
					.alerts
						ul.inline-layout
							li
								a(href="#")
									img(src="img/icons/message.svg", alt="")
							li
								a(href="#").bell
									img(src="img/icons/bell.svg", alt="")
				.admin-panel
					a(href="#")
						.avatar
							.image-holder
								img(src="img/content/avatar.png", alt="")
						span.name Maximillian Beekeeper
	
		
